{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-s-1"></div>
        <div class="col-lg-6 col-s-10">
            {{ block.super }}
            <h1>Sign Up</h1>
            <form method="POST">
                {% csrf_token %}
                {#        {{ register_form.as_p }}#}
                {% bootstrap_form register_form %}

                <button type="submit">Register</button>
            </form>
        </div>
        <div class="col-lg-3 col-s-1"></div>
    </div>
{% endblock %}
